.wrapper_contact{
  display: flex;
  gap: 12px;
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: px;
  background-color: rgb(254, 254, 254);
  padding: 5px;
  border-radius: 10px;
  border: 2px solid white;
  color: rgba(0, 0, 0, 0.696);
  margin: 7px 0px;
}

@media (max-width: 810px) {
  .photo {
    width: 50px;
  }
}
